.NewGoods-container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  color: white;
  background-color: black;
  padding-bottom: 100px;
}
.NewGoods-list {
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 575.98px) {
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .NewGoods-container .card-container {
    margin: 10px 10px;
    width: 20%;
    height: 280px;
  }
  .NewGoods-list {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .NewGoods-container .card-container {
    margin: 10px 15px;
    width: 20%;
    height: 340px;
  }
  .NewGoods-list {
    width: 95%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .NewGoods-container .card-container {
    margin: 10px 10px;
    width: 150px;
    height: 320px;
  }
}
@media (min-width: 1200px) {
  .NewGoods-container .card-container {
    margin: 10px 15px;
    width: 180px;
    height: 360px;
  }
}
@media (min-width: 1400px) {
  .NewGoods-container .card-container {
    margin: 10px 15px;
    width: 200px;
    height: 400px;
  }
}
@media (min-width: 1600px) {
  .NewGoods-container .card-container {
    margin: 10px 15px;
    width: 250px;
  }
}
@media (min-width: 2000px) {
  .NewGoods-container .card-container {
    margin: 10px 20px;
    width: 250px;
    height: 450px;
  }
}
